<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3 class="dropdown-headline" id="multisite-belogin-dropdown-headline">{f:translate(key: 'LLL:EXT:multisite_belogin/Resources/Private/Language/backend.xlf:toolbarItems.multisite_belogin')}</h3>

    <hr class="dropdown-divider" aria-hidden="true">
    <nav class="t3js-multisite-belogin-menu">
        <f:if condition="{corsWarning}">
            <f:then>
                <p>You have to unset the backend cookieDomain</p>
            </f:then>
            <f:else>
                <ul class="dropdown-list" role="menu" aria-labelledby="multisite-belogin-dropdown-headline">
                    <li class="multisite-belogin-module-status">

                    </li>
                </ul>
            </f:else>
        </f:if>
    </nav>

</html>
